* {
	margin: 0;
	list-style: none;
	text-decoration: none;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
}

.dropdown {
	height: 100%;
	display: inline-flex;
	align-items: flex-end;
}

.video {
	width: 70%;
	height: 60%;
	padding: 1em 1em 1em 8em;
}

.dateLikes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 40%;
	padding-left: 8em;
}
